.card {
    background-color: #03045E;
}

.card-data {
    color: white;
}

.container {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    max-width: 900px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-image {
    max-width: 220px;
    margin: 10px;
}