.authentication-form {
    padding: 50px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    max-width: 650px;
}
.button {
    margin-left: 250px; 
    margin-top: 10px;
}